<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary" (click)="onLoadData()">Load transactions</button>
    <label for="category">Category: </label>
    <select class="btn btn-success" (change)="onCategory($event.target.value)" id="category">
      <option *ngFor="let category of ( categories | async )" [value]="category.id">{{ category.name }}</option>
    </select>
    <select class="btn btn-info" (change)="onGranularityChange($event.target.value)" id="granularity">
      <option value="monthly">Monthly</option>
      <option value="yearly">Yearly</option>
    </select>
    <hr>
    <p>Showing from {{ (period|async).start | date:'longDate' }} until {{ (period|async).end | date:'longDate' }}</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <app-history-charts-rx></app-history-charts-rx>
  </div>
  <div class="col-sm-6">
    <app-category-bar-chart></app-category-bar-chart>
    <app-category-hierarchy-chart></app-category-hierarchy-chart>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <app-transactions-table></app-transactions-table>
  </div>
</div>
