<div class="row">
  <div class="col-sm-12">
    <button mat-raised-button color="primary" (click)="onLoadData()">Load transactions</button>
    <mat-form-field>
      <mat-label>Select a category</mat-label>
      <mat-select (selectionChange)="onCategory($event.value)" [ngModel]="0">
        <mat-option *ngFor="let category of ( categories | async )" [value]="category.id">{{ category.getQualifiedName() }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-radio-group [ngModel]="'monthly'" aria-label="Select granularity" (change)="onGranularityChange($event.value)">
      <mat-radio-button value="monthly">Monhtly</mat-radio-button>
      <mat-radio-button value="yearly">Yearly</mat-radio-button>
    </mat-radio-group>
    <hr>
    <p>Showing from {{ (period|async).start | date:'longDate' }} until {{ (period|async).end | date:'longDate' }}</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <app-history-charts-rx></app-history-charts-rx>
  </div>
  <div class="col-sm-6">
    <router-outlet></router-outlet>
  </div>
</div>

