<div class="row">
  <div class="col-sm">
    <br>
    <button type="button" class="btn btn-primary" (click)="saldoService.setGranularity('monthly')">Monthly</button>
    <button type="button" class="btn btn-primary" (click)="saldoService.setGranularity('yearly')">Yearly</button>
    <select class="btn" (change)="onCategory($event.target.value)">
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <app-balance-chart></app-balance-chart>
    <app-income-expenses-chart></app-income-expenses-chart>
    <app-category-chart></app-category-chart>
  </div>
</div>
