<div class="row">
  <div class="col-sm">
    <button type="button" class="btn btn-primary" (click)="saldoService.setGranularity('monthly')">Monthly</button>
    <button type="button" class="btn btn-primary" (click)="saldoService.setGranularity('yearly')">Yearly</button>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <app-history-charts></app-history-charts>
  </div>
  <div class="col-sm-6">
    <select class="btn btn-secondary" (change)="onCategory($event.target.value)">
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
    <app-category-chart></app-category-chart>
    <app-category-pie-chart></app-category-pie-chart>
  </div>
</div>
